---
import { SearchInput } from "../components/Input";
import BaseLayout from "../BaseLayout.astro";
import {
    instagramDownloaderContent,
    instagramPageProps,
} from "../content/content";
import FeaturesSection from "../partials/instagram/FeaturesSection.astro";
---

<BaseLayout
    title={instagramDownloaderContent.title}
    lang=""
    pageProps={instagramPageProps}
>
    <div class="container">
        <p class="lead text-center">{instagramDownloaderContent.description}</p>
        <SearchInput client:load />
        <FeaturesSection features={instagramDownloaderContent.features} />
    </div>
    <div class="container">
        <SearchInput client:load />
    </div>
</BaseLayout>
